<h1>Cerámicas El Barro</h1>
<h3>¡Bienvenidos!, este es el listado de nuestros productos:</h3>
<ul>
    {{#each payload.docs}}
    <li>
        <p>ID: {{_id}}</p>
        <p>Code: {{code}}</p>
        <p>Title: {{title}}</p>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Category: {{category}}</p>
        <p>Stock: {{stock}}</p>
        <p>Status: {{status}}</p>
        <form class="product-form" data-product-id="{{_id}}">
            <input type="hidden" name="productId" value="{{_id}}">
            <button type="submit">Enviar</button>
        </form>
    </li>
    {{/each}}
</ul>

{{#if payload.hasPrevPage}}
<a href="http://localhost:8080/?page={{payload.prevPage}}">Página anterior</a>
{{else}}
<span>Prev</span>
{{/if}}

{{#if payload.hasNextPage}}
<a href="http://localhost:8080/?page={{payload.nextPage}}">Página siguiente</a>
{{else}}
<span>Next</span>
{{/if}}
<a href="http://localhost:8080/">Primer Página</a>
<a href="http://localhost:8080/?page={{payload.totalPages}}">Última página</a>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const forms = document.querySelectorAll('.product-form');

    forms.forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault(); 
            const productId = this.dataset.productId;
            const url = `http://localhost:8080/api/carts/66db7912adba29f9cea73f63/product/${productId}`;
           
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
});
</script>